body {
  background-color: #375A3B;
  display: flex;
  box-sizing: border-box;
  padding: 60px;
  justify-content: center;
  height: 100vh;

  .page {
    background: #FFFFFF;
    border-radius: 25px;
    width: 100%;
    max-width: 1100px;
    padding: 0 75px;
    display: flex;
    flex-direction: column;

    header {
      padding: 40px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo {
        display: flex;

        a {
          font-family: Roboto, sans-serif;
          font-style: normal;
          font-weight: bold;
          line-height: normal;
          font-size: 18px;
          letter-spacing: 0.16em;
          color: #36623B;
          text-decoration: none;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            margin-right: 5px;
          }
        }
      }

      .menu {
        display: flex;
        width: 60%;
        justify-content: space-between;

        a {
          text-decoration: none;
          font-family: Roboto, sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          color: #36623B;
          box-sizing: border-box;
          line-height: 36px;
          border-bottom: 1px solid transparent;

          &:hover {
            border-bottom: 1px solid #36623B;
          }
        }
      }
    }
  }
}

.menu-btn-mobile {
  display: none;
}

.content {
  height: 100%;
  display: flex;
  align-items: center;
  background-image: url("../img/roses.jpg");
  background-repeat: no-repeat;
  background-position: right -15px;
  background-size: auto 700px;
  position: relative;

  .block {
    h1 {
      font-family: Cinzel, sans-serif;
      font-style: normal;
      font-weight: normal;
      line-height: normal;
      font-size: 48px;
      color: #375A3B;
      background-color: rgba(255, 255, 255, .85);
      border-radius: 25px;
      padding: 1rem;
    }

    p {
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: normal;
      line-height: normal;
      font-size: 18px;
      color: #2D432F;
      max-width: 290px;
      margin-top: 25px;
      background-color: rgba(255, 255, 255, .85);
      border-radius: 25px;
      padding: 1rem;
    }

    .button {
      background: #FFFFFF;
      outline: none;
      border: 2px solid #375A3B;
      box-sizing: border-box;
      border-radius: 25px;
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      font-size: 18px;
      color: #36623B;
      padding: 10px 60px;
      text-decoration: none;
      margin-top: 25px;
      display: inline-block;
      transition: all 300ms;

      &:hover, &:active, &:focus {
        background-color: #375A3B;
        color: white;
      }
      &:active, &:focus {
        background-color: #3b8642;
        color: white;
      }
    }
  }

  .social {
    position: absolute;
    bottom: 30px;

    a {
      display: block;
      background: #C8D7C9;
      border-radius: 17px;
      width: 34px;
      height: 34px;
      text-align: center;
      padding-top: 8px;
      box-sizing: border-box;
      margin-top: 10px;
      transition: background-color 300ms;

      &:hover {
        background-color: #375A3B;

      }
    }
  }
}

@media (max-width: 980px) {
  body {
    .page {
      position: relative;
      padding: 0 20px;

      .menu {
        position: absolute;
        padding: 2rem;
        background-color: rgba(255, 255, 255, 1);
        top: 1px;
        z-index: 1;
        flex-direction: column;

        &:not(.open) {
          display: none;
        }
      }

      .menu-btn-mobile {
        display: block;
      }

      .btn {
        width: 32px;
        height: 32px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        padding: 0;
        background: none;
        border: none;
        outline: none;
        z-index: 2;
      }

      .line {
        height: 2px;
        background-color: #375A3B;

      }

      .line-first {
        animation-name: toLines;
        animation-duration: 600ms;
        animation-fill-mode: backwards;

        animation-play-state: paused;
        animation-direction: reverse;
      }

      .line-last {
        animation-name: toLines2;
        animation-duration: 600ms;
        animation-fill-mode: backwards;

        animation-play-state: paused;
        animation-direction: reverse;
      }

      .line-middle {
        animation-name: toLinesMiddle;
        animation-duration: 600ms;
        animation-fill-mode: backwards;


        animation-play-state: paused;
        animation-direction: reverse;
      }

      .collapsed .line {
        animation-play-state: running;
        animation-direction: normal;
      }

      .btn.open .line-first {
        animation-name: toCross;
        animation-duration: 600ms;
        animation-fill-mode: forwards;

        animation-play-state: running;
        animation-direction: normal;
      }

      .btn.open .line-middle {
        animation-name: toCross2;
        animation-duration: 300ms;
        animation-fill-mode: forwards;

        animation-play-state: running;
        animation-direction: normal;
      }

      .btn.open .line-last {
        animation-name: toCross3;
        animation-duration: 600ms;
        animation-fill-mode: forwards;

        animation-play-state: running;
        animation-direction: normal;
      }
    }

    .content {
      background-position: center -15px;
      background-size: cover;

    }
  }


  @keyframes toCross {
    from {
      transform: translateY(0) rotate(0);
    }
    50% {
      transform: translateY(14px) rotate(0);
    }
    to {
      transform: translateY(14px) rotate(45deg);
    }
  }

  @keyframes toCross2 {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
    }
  }


  @keyframes toCross3 {
    from {
      transform: translateY(0) rotate(0);
    }
    50% {
      transform: translateY(-18px) rotate(0);
    }
    to {
      transform: translateY(-16px) rotate(-45deg);
    }
  }

  @keyframes toLines {
    from {
      transform: translateY(14px) rotate(45deg);
    }
    50% {
      transform: translateY(14px) rotate(0);
    }
    to {
      transform: translateY(0) rotate(0);
    }
  }

  @keyframes toLinesMiddle {
    from {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes toLines2 {
    from {
      transform: translateY(-18px) rotate(-45deg);
    }
    50% {
      transform: translateY(-14px) rotate(0);
    }
    to {
      transform: translateY(0) rotate(0);
    }
  }

}

@media (max-width: 750px) {
  .menu {
    flex-direction: column;
    justify-items: flex-end;
  }

}

@media (max-width: 450px) {
  body {
    padding: 40px 15px;

    .page {
      padding: 0 20px;
      min-height: content-box;

      .content {
        align-items: start;

        .block {
          margin-left: unset;
          background-color: rgba(255, 255, 255, .85);
          padding: 15px;
          border-radius: 25px;
          margin-top: 150px;

          & h1, & p {
            background-color: transparent;
          }

          & h1 {
            font-size: 25px;
          }

          & p {
            margin-top: 0;
          }

        }

        .social {
          left: -5px;
        }

      }
    }
  }


}